<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://github.com/Swiip/generator-gulp-angular">
        <span class="glyphicon glyphicon-home"></span> Gulp Angular
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li ng-class="{ active: $state.includes('home') }"   ><a ui-sref="home">Home</a></li>
        <li ng-class="{ active: $state.includes('artists') }"><a ui-sref="artists">Artists</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right acme-navbar-text">
        <li ng-class="{ active: $state.includes('about') }"  ><a ui-sref="about">About</a></li>
      </ul>
    </div>
  </div>
</nav>
